src/main/mule/sfdc-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sfdc-process-api-main">
        <http:listener config-ref="main-api-https-listener-config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[if(!isBlank(attributes.headers.'uuid')) attributes.headers.'uuid' else uuid()]" doc:name="set unique id - uuid" doc:id="b506e839-68a2-4568-93d4-541c8b78f31e" variableName="uuid" />
        <apikit:router config-ref="sfdc-process-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="error-response" doc:id="eba860d6-a5dd-4903-86fc-e876f17bd53e" name="error-response" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="error-response" doc:id="7ac276c4-abcd-4f3b-b11e-d0d20a600265" name="error-response" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="error-response" doc:id="38d7902b-f449-4f83-a03d-fe64e7eb0ba1" name="error-response" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="error-response" doc:id="a2d81a0f-8f90-4957-b5e1-5826a877d705" name="error-response" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="error-response" doc:id="6fe38e9e-d582-485e-997a-493d02cd3087" name="error-response" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <flow-ref doc:name="error-response" doc:id="9ee98253-8a65-4ef0-8b83-d94bc0ba4c1b" name="error-response" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\dot-lic-cred-info:application\json:sfdc-process-api-config">
        <set-variable value="#[&quot;dot&quot;]" doc:name="routeToSystem" doc:id="5dd52798-feec-4804-980f-3de69c4f09a0" variableName="routeToSystem" />
        <flow-ref doc:name="route-processing" doc:id="aceb4d0a-ec00-4acb-8f21-acb47a3c7d1e" name="route-processing" />
    </flow>
    <flow name="post:\eibs-lic-cred-info:application\json:sfdc-process-api-config">
        <set-variable value="#[&quot;eibs&quot;]" doc:name="routeToSystem" doc:id="89820208-c2dc-4c11-b14d-d9e2e7de0636" variableName="routeToSystem" />
        <flow-ref doc:name="route-processing" doc:id="51146a79-f11e-43cf-ab59-a3168324e4ae" name="route-processing" />
    </flow>
    <flow name="post:\oci-license-by-name:application\json:sfdc-process-api-config">
        <set-variable value="#[&quot;oci-name&quot;]" doc:name="routeToSystem" doc:id="f9e43aff-3349-4a73-bddc-01cda0d6f640" variableName="routeToSystem" />
        <flow-ref doc:name="route-processing" doc:id="10eda999-1c7b-4564-8505-c28aededf529" name="route-processing" />
    </flow>
    <flow name="post:\oci-license-by-number:application\json:sfdc-process-api-config">
        <set-variable value="#[&quot;oci-num&quot;]" doc:name="routeToSystem" doc:id="c27ea882-946b-484f-bc53-5c882b656721" variableName="routeToSystem" />
        <flow-ref doc:name="route-processing" doc:id="f339229d-977d-409d-903f-92c3b0921526" name="route-processing" />
    </flow>
</mule>
